@import '../../styles.scss';

:host {
  @include flex-container;
  flex-direction: column;
  border-radius: 20px;
  background-color: $color_secondary;
}

.header__title {
  @include reset;
  color: $color_primary;
  text-align: center;
  font-size: $font_large;
  font-weight: $weight_semiBold;
}

.header__button {
  @include reset;
  @include flex-container;
}

.header__subtitle {
  @include reset;
  font-size: $font_small;
  font-weight: $weight_Regular;
  align-self: flex-start;
}

.header__wrapper {
  @include flex-container;
  gap: 20px;
}

.mat-icon {
  @include icon-size($icon_size);
}
