@import '../../../styles.scss';

:host {
  @include flex-container;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
  gap: auto;
}

.display__card {
  width: 75%;
  padding: 5px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  gap: auto;
  border: 3px solid $color-primary;
}

.display__text {
  @include reset;
  font-size: $font_medium;
  font-weight: $weight_Medium;
}

.display__wrapper {
  display: flex;
}

.mat-icon {
  @include icon-size($icon_size);
}
