@import '../../styles.scss';

.converter__container {
  @include flex-container;
  padding: 20px;
  border-radius: 20px;
  background-color: $color_secondary;
}

.converter__title {
  color: $color_primary;
  margin: 0;
  text-align: center;
  font-size: $font_large;
  font-weight: $weight_semiBold;
}

.converter__button {
  @include reset;
  @include flex-container;
}

.mat-icon {
  @include icon-size($icon_size);
}
