@import '../../styles.scss';

.converter__container {
  @include flex-container;
  padding: 20px;
  border-radius: 20px;
  background-color: $color_secondary;
}

.converter__title {
  color: $color_primary;
  margin: 0;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.converter__button {
  @include reset;
  @include flex-container;
  margin-left: 10px;
  min-width: 32px;
  min-height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.mat-icon {
  min-width: 32px;
  min-height: 32px;
  font-size: 30px;
}
