@import '../styles.scss';

:host {
  @include flex-container;
  background-color: $color_primary;
  font-family: 'Inter', 'Arial', sans-serif;
  width: 100%;
  min-height: 100vh;
}

.converter__container {
  @include flex-container;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background-color: $color_secondary;
}
